body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("https://cdn.hipwallpaper.com/i/11/92/Oj1bUh.jpg");
    background-size: cover;
    background-repeat: none;
}

.sidebar {
    top: 0;
    left: 0;
    width: 250px;
    position: absolute;
    height: 100vh;
    background-color: lightgreen;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar .menu {
    color: black;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    border: 5px solid black;
}

.buttonColors {
    color: black;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.sidebar button.selected {
    border: 5px solid black;
    box-shadow: 5px 5px 2.5px black;
}

#Black {
    background-color: black;
    color: white;
}

#Red {
    background-color: red;
    color: white;
}

#Green {
    background-color: green;
    color: white;
}

#Blue {
    background-color: blue;
    color: white;
}

#Yellow {
    background-color: yellow;
}

.canvas-container {
    text-align: center;
    margin-left: 250px;
}


.small-canvas {
    height: 300px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

.medium-canvas {
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

.large-canvas {
    height: 700px;
    width: 700px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

#canvas {
    position: relative;
}

#canvas img {
    position: absolute;
}

#modal-wrapper{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    z-index:12345;
}

#modal-wrapper .modal-title{
    font-family: 'Helvetica', cursive;
    font-size:40px;
    color:green;
}

#modal-wrapper .modal{
    background-color: white;
    min-width: 200px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 40px;
    border-radius: 5px;
}

#modal-wrapper .close-btn{
    position:absolute;
    right:10px;
    top:10px;
    color:black;
}