body {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
    background-color: lightblue;
}

.sidebar {
    top: 0;
    left: 0;
    width: 250px;
    position: absolute;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar button {
    color: black;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    border: 5px solid black;
}

.sidebar button.selected {
    border: 5px solid red;
}

.canvas-container {
    text-align: center;
    margin-left: 250px;
    background-color: lightcyan;
}

.canvas {
    height: 600px;
    width: 600px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

#canvas {
    position: relative;
}

#canvas img {
    position: absolute;
}